<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
</head>

<body>
  <h2>{{description}}</h2>
  <p>{{dateFormat createdAt 'MMM Do'}}</p>
  {{!-- <img src="http://localhost:3000/files/08dce23d278e89651ffa1bce4e4bcaf3-profile.jpg" alt=""> --}}
  <img src="{{url}}/files/08dce23d278e89651ffa1bce4e4bcaf3-profile.jpg" alt="">

</body>

</html>